# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.venv_eval/
venv/
env/
*.log

# Node.js
node_modules/
webapp/node_modules/
dist/
webapp/dist/
.env
.env.local

# OS
.DS_Store
Thumbs.db
.AppleDouble
.LSOverride

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Specific
*.zip
*.onnx.tmp
temp_video.mp4
/data/
/results/
/models_saved/
/notebooks/.ipynb_checkpoints/
/webapp/public/landmarks/*.json
!/webapp/public/landmarks/girl.json
!/webapp/public/landmarks/boy.json
!/webapp/public/landmarks/dog1.json
!/webapp/public/landmarks/cat3.json
!/webapp/public/landmarks/drive.json
!/webapp/public/landmarks/car.json
!/webapp/public/landmarks/dance.json
!/webapp/public/landmarks/jump.json
!/webapp/public/landmarks/drink2.json
!/webapp/public/landmarks/water.json
!/webapp/public/landmarks/play.json
