# Ambienti Virtuali Python
venv/
.venv/
venv310/
env/
.venv_eval/

# Artifacts di Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Cartelle IDE
.idea/
.vscode/

# Dati pesanti / ML Artifacts
data/*
!data/.gitkeep
models_saved/
results/
notebooks/.ipynb_checkpoints/

# LaTeX / Build
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
docs/main.pdf
docs/latex/build/

# Log e Zip
*.log
*.zip
*.txt
!requirements.txt
!requirements_mac.txt

# File Mac
.DS_Store
